/* Charte Graphique */
@font-face {
  font-family: "Lobster";
  src: url("../font_family/Lobster-Regular.ttf");
}

body {
  margin: 0;
  background-color: #e4fbff;
  font-family: Lobster, sans-serif;
  line-height: 1.6;
  font-size: 16px;
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 22px;
}
