/* Charte Graphique */
@font-face {
  font-family: "Lobster";
  src: url("../font_family/Lobster-Regular.ttf");
}

body {
  margin: 0;
  background-color: #e4fbff;
  font-family: Lobster, sans-serif;
  line-height: 1.4;
  font-size: 14px;
  box-sizing: border-box;
}

.bgSecondaire {
  background-color: #b8b5ff;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

/* Css */

header {
  position: absolute;
  top:0;
  left:0;
  right: 0;
}

.main {
  position:relative;
  top:150px;
  height:400px;
}

li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

button {
  margin:5px;
}

.login {
  position: absolute;
  top:50px;
  right:20px;
  text-align: center;
  width: 100px;
  margin-right: 20px;
}

.connection {
  display: flex;
  flex-direction: column;
}

.ul {
  display: flex;
  justify-content: space-evenly;
}


/* footer */
footer{
  background-color: #B8B5FF ;
}

/* .contenu{
  display: flex;
} */
.copyright{
  
  font-size: 10px;
  margin-top: 1%;

}  
.logo{

  margin-top: 1%;
  margin-left: 3%;
}

/* acceuil */
.plageimg{
  width: 100%;
}
.article{
  margin-top: 25%;

}
.articleimg{
  width: 70% ;
  border-radius: 15px;

}
