/* Charte Graphique */
@font-face {
    font-family: "Lobster";
    src: url("../font_family/Lobster-Regular.ttf");
  }
  
  body {
    margin: 0;
    background-color: #e4fbff;
    font-family: Lobster, sans-serif;
    line-height: 1.4;
    font-size: 14px;
    box-sizing: border-box;
  }
  
  .bgSecondaire {
    background-color: #b8b5ff;
  }
  
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 20px;
  }